@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-area-bottom: env(safe-area-inset-bottom, 20px);
}

html, body {
  @apply bg-gray-50 text-gray-900;
  overflow-x: hidden; /* Prevent horizontal scroll globally */
  width: 100%;
}

@layer utilities {
  .safe-area-bottom {
    padding-bottom: var(--safe-area-bottom);
  }
  .mb-safe {
    margin-bottom: var(--safe-area-bottom);
  }
}
